/* 
    downloaded fonts: 

    font-family: 'Comfortaa', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Montserrat Alternates', sans-serif;

    font-family: 'Nunito', sans-serif;

    font-family: 'Work Sans', sans-serif; 

*/

/*
    styling for everything
*/
body {
    font-family: 'Work Sans', sans-serif;
    color: #3f3e3e;
    margin: 0;
    background-color: #f0f0e1;
}

/* 
    nav styling 
*/
nav {
    display: flex;
    background-color: #CCDE2A;
    width: 100%;
    box-shadow: 0px 5px #778116;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
}

nav>h3{
    padding: 8px 15px 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    font-size: 1em;
    display: flex;
    align-items: center;
    border: 3px solid #778116;
    border-radius: 20px;
}

nav>h3:hover {
    background-color: #8d9921ab;
}

i {
    font-size: 0.75em;
    padding-right: 8px;
}

/* 
    styling for the main content
*/
main {
    margin: 125px 50px;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
}

main>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

main>div>h2 {
    font-family: "Comfortaa", sans-serif;
    font-size: 2em;
    background-color: #778116;
    padding: 20px;
    width: min-content;
    color: white;
    border-radius: 10px;
}

/*
    styling for intro
*/
.intro {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "a c"
    "b c"; 
}

.intro>.introtitle {
    text-align: center;
}

.introtitle {
    grid-area: a;
    font-size: 2.25em;
    margin: 0 20px 0 5px;
    width: 75%;
    border-bottom: #778116 6px solid;
    border-radius: 5px;
    padding: 0px 0px 3px;
    justify-self: center;
}

.introtext {
    grid-area: b;
    align-self: flex-start;
    font-size: 1.3em;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 0.4em;
    line-height: 1.3em;
}

.introtext>p {
    margin-bottom: 2em;
}

.images {
    box-sizing: border-box;
    margin: 50px;
    grid-area: c;
    justify-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    border: 6px solid #778116;
    border-radius: 5%;
    background-color: #8d9921ab;
    max-width: 100%;
}

.images>img {
    box-sizing: border-box;
    max-width: 100%;
    width: 46%;
    height: max-content;
    margin: 2%;
    padding: 5px;
    border-radius: 10%;
}

#transparentimg {
    background-color: #F0F0E1;
}

@media (max-width: 1200px) {
    .intro {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "a"
        "b"
        "c";
    }

    .images {
        max-width: 50%;
        margin: auto;
    }
}

/*
    styling for projects
*/
.projects-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.projects-container>article{
    width: 30%;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 6px solid #778116;
    background-color: white;
    border-radius: 20px;
    margin: 0px 0.5%;
    padding: 30px 10px;
    text-align: center;
}

article>p, h4, h5 {
    padding: 0 20px;
}

h4 {
    font-size: 1.75em;
    margin: 0px;
}

h4 a:any-link{
    text-decoration: none;
    color: #3F3E3E;
}

h5 {
    font-style: italic;
    font-weight: 300;
    font-size: 1.4em;
    margin: 20px 0px;
}

article>p {
    margin-top: 0px;
    margin-bottom: 15px;
}

article>img, article>a>img {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

#punks {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*
    resume styling
*/
.resume>iframe {
    width: 90%;
    max-width: 900px;
    height: 6in;
}

/*
    contact styling
*/
.contact{
    margin-top: 50px;
    background-color: #3F3E3E;
    border-top: 5px solid #778116;
    width: 100%;
    min-height: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

h6 {
    font-size: 1em;
    margin-bottom: 10px;
}

.contact>p {
    margin: 8px 0;
}

.contact a:any-link {
    text-decoration: none;
    color:#CCDE2A;
}